extends layout

block content
  form#login-form(method='POST', action='/articles/add')
    h1 #{title}
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Body:
      textarea.form-control(name='body')
    input.btn.btn-primary(type='submit',value='Submit')
