extends layout

block content
  br
  form#login-form(action='')
    h1 Login
    form(method='POST', action='/users/login')
      #form-group
        input.form-control(name='username', type='text')
      #form-group
        input.form-control(name='password', type='password')
      br
      input.btn.login-btn(type='submit',value='Submit')
